        * {
            margin: 0px;
            padding: 0px;
            color: var(--Nonegro-color);
            /* border: 1px solid red; */
        }
        
         :root {
            --Nonegro-color: #16161d;
            --Noblanco-color: rgb(255, 250, 250);
            --letsblue-color: rgb(1, 13, 208);
            --font-main: Verdana, Geneva, Tahoma, sans-serif;
            --font-secondary: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        }
        /* GENERAL--------------------------------------------------------------------------- */
        
        body {
            background-color: rgb(187, 208, 255);
        }
        
        .width_main {
            width: 95%;
            margin: auto;
        }
        
        .negrita {
            font-weight: bolder;
        }
        
        .font-verd {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        .font-30 {
            font-size: 30px;
        }
        /* EFECTOS-------------------------------------------------------------------------------- */
        
        .zoom {
            transition: all 0.5s;
        }
        
        .zoom:hover {
            transform: scale(1.1);
        }
        
        .shadow {
            box-shadow: 5px 5px 5px;
        }
        /* LOGO---------------------------------------------------------------------------------------- */
        
        .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .logo__imagen {
            margin-top: 50px;
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
        }
        /* NAVEGACIÓN------------------------------------------------------------------------------ */
        
        .navegacion {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        
        nav button {
            width: 240px;
            border: 3px solid var(--letsblue-color);
            border-radius: 29px;
            color: var(--Noblanco-color);
            font-weight: bolder;
            margin: 20px 10px 0px 10px;
            padding: 10px 30px;
            background-color: var(--letsblue-color);
        }
        
        nav button:hover {
            color: rgb(1, 13, 208);
            transition: all 0.5s;
            background-color: var(--Noblanco-color);
        }
        /* HOME-------------------------------------------------------------------------------------------------- */
        
        .home__encabezado {
            text-align: center;
            font-size: 25px;
            margin-top: 100px;
        }
        
        .tarjetas__box {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: stretch;
            margin: auto;
        }
        
        .tarjeta {
            height: 500px;
            width: 350px;
            background-color: var(--Noblanco-color);
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
            margin: 50px 0px 100px 0px;
        }
        
        .tarjeta__fecha {
            font-size: 130px;
            text-align: center;
            font-family: var(--font-secondary);
            margin: 15px 0px;
        }
        
        .linea__puntos {
            border-bottom: 5px dotted var(--letsblue-color);
        }
        
        .tarjeta__dia {
            text-align: center;
            font-size: 40px;
            margin: 15px 0px;
        }
        
        .punto {
            font-size: 35px;
        }
        
        .tarjeta__curso {
            text-align: center;
            line-height: 40px;
            margin: 15px 0px;
        }
        
        .tarjeta__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 25px;
        }
        
        div.tarjeta__button button {
            color: var(--Noblanco-color);
            font-weight: bolder;
            padding: 10px 30px;
            background-color: var(--letsblue-color);
            border-radius: 29px;
            border: 3px solid var(--letsblue-color);
        }
        
        div.tarjeta__button button:hover {
            color: var(--letsblue-color);
            transition: all 0.5s;
            background-color: var(--Noblanco-color);
        }
        /* CONOCENOS-------------------------------------------------------------------------------------- */
        
        .conocenos {
            text-align: center;
            font-size: 25px;
            margin-top: 100px;
        }
        
        .conocenos__presentacion {
            margin-top: 50px;
        }
        
        .mentores {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            margin: 100px 0px;
        }
        
        .mentor__imagen {
            width: 400px;
            height: 400px;
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
        }
        
        .mentor__texto {
            font-family: sans-serif;
            margin: 0px 50px;
        }
        
        .mentor__texto--nombre {
            font-size: 40px;
        }
        
        .mentor__texto--descripcion {
            margin-top: 40px;
        }
        /* INFORMACIÓN-------------------------------------------------------------------------- */
        
        .info {
            text-align: center;
            font-size: 25px;
            margin-top: 100px;
        }
        
        .info__presentacion {
            margin: 50px 0px;
        }
        
        .tabla__flex {
            display: flex;
            justify-content: center;
        }
        
        thead {
            width: 100%;
            background-color: var(--letsblue-color);
        }
        
        thead tr th {
            color: var(--Noblanco-color);
        }
        
        td {
            background-color: var(--Noblanco-color);
            padding: 10px;
        }
        
        th {
            padding: 10px;
            font-size: 25px;
        }
        
        table {
            font-size: 20px;
            text-align: center;
            width: 95%;
            border-collapse: separate;
            margin-bottom: 50px;
            border: 5px solid var(--letsblue-color);
            border-radius: 30px;
            border-spacing: 0px;
        }
        
        table tr:last-child td:first-child {
            border-bottom-left-radius: 24px;
        }
        
        table tr:last-child td:last-child {
            border-bottom-right-radius: 24px;
        }
        
        table th:first-child {
            border-top-left-radius: 23px;
        }
        
        table th:last-child {
            border-top-right-radius: 23px;
        }
        
        tbody tr:nth-child(even) td {
            background-color: #fffafaa8;
        }
        
        tbody tr:hover td {
            background-color: rgba(1, 11, 208, 0.048);
            transition: all 0.5s;
        }
        
        dd {
            padding-bottom: 20px;
        }
        
        .flex__list {
            display: flex;
            justify-content: center;
        }
        
        .flex__list--daily {
            display: flex;
            justify-content: center;
        }
        
        .list {
            width: 30%;
            height: auto;
            margin: 50px 50px 0px 50px;
            padding: 30px 0px;
            background-color: var(--Noblanco-color);
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
        }
        
        .list__title {
            margin: 0px auto 10px auto;
            font-family: var(--font-secondary);
            text-align: center;
        }
        
        .list__subtitle {
            margin-top: 30px;
        }
        
        .sublist {
            padding-right: 10px;
            margin: 0px 0px 0px 30px;
        }
        
        .list_style {
            list-style-type: none;
            padding: 0px;
            /*<<<NO TOCAR padding 0px*/
        }
        
        ul li {
            padding-bottom: 20px;
        }
        
        .daily {
            width: 50%;
            padding: 30px;
            background-color: var(--Noblanco-color);
            margin: 50px 0px;
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
        }
        /* CONTACTO-------------------------------------------------------------------------------------- */
        
        .contacto {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
            margin: 100px auto;
            background-color: var(--Noblanco-color);
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
        }
        
        .contacto__encabezado {
            width: 100%;
            font-size: 35px;
            font-family: var(--font-secondary);
            text-align: center;
            padding: 20px 0px;
        }
        
        .contacto__tlf {
            width: 100%;
            text-align: center;
        }
        
        div.contacto__tlf p {
            width: 95%;
            margin: 20px auto;
            font-family: var(--font-main);
        }
        
        div p.contacto__mail {
            margin: 30px 0px 50px 0px;
        }
        
        .size--icon {
            color: var(--letsblue-color);
            font-size: 35px;
        }
        /* FORMULARIO----------------------------------------------------------------------------- */
        
        .form__flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-top: 100px;
        }
        
        form section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            align-items: flex-start;
        }
        
        form section {
            width: 50%;
            height: auto;
            margin: 30px;
            padding: 10px 0px;
            Text-align: center;
            background-color: var(--Noblanco-color);
            border: 7px solid var(--letsblue-color);
            border-radius: 15px;
            font-family: var(--font-maina);
        }
        
        .personal__title {
            width: 100%;
            font-family: var(--font-secondary);
            text-align: center;
            margin: 10px auto 0px auto;
            padding: 0px 0px 10px 0px;
        }
        
        .personal__names {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            font-family: var(--font-main);
            margin: 10px auto 0px auto;
            padding: 0px 0px 10px 0px;
        }
        
        .personal__names--label {
            margin: 10px;
        }
        
        .personal__names--elements {
            padding: 10px 0px 10px 0px;
            width: 25%;
        }
        
        .personal__names--input {
            width: 100%;
            padding: 5px;
        }
        
        .curso--title {
            width: 100%;
            text-align: center;
            margin: 10px auto 10px auto;
            padding: 0px 0px 10px 0px;
            font-family: var(--font-secondary);
        }
        
        .curso__radio--title {
            width: 100%;
            margin: 5px;
            font-family: var(--font-main);
        }
        
        .curso__radio {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            height: 100%;
            margin: 10px auto 0px auto;
            padding: 0px 0px 10px 0px;
            font-family: var(--font-main);
        }
        
        .curso__radio--input {
            margin: 0px 20px;
            padding: 10px 0px 10px 0px;
        }
        
        .ciu-date {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 10px auto 0px auto;
            padding: 0px 0px 10px 0px;
        }
        
        .ciu-date__elements {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            font-family: var(--font-main);
            padding: 10px 0px 10px 0px;
        }
        
        .ciu-date__p {
            margin-bottom: 10px;
        }
        
        .ciu-date__input {
            width: 45%;
            padding: 5px;
            font-family: var(--font-main);
        }
        
        .tecnos {
            width: 100%;
            margin: 10px auto 0px auto;
            padding: 0px 0px 10px 0px;
            font-family: var(--font-main);
        }
        
        .tecnos__p {
            margin-bottom: 10px;
            padding-top: 10px;
        }
        
        .tecnos__elements {
            display: flex;
            justify-content: space-evenly;
            padding: 10px 0px 10px 0px;
        }
        
        .coment--title {
            width: 100%;
            text-align: center;
            margin: 10px auto 10px auto;
            padding: 0px 0px 10px 0px;
            font-family: var(--font-secondary);
        }
        
        .coment__box {
            width: 95%;
            height: 95%;
            text-align: center;
            margin: 5px auto 10px auto;
        }
        
        .button {
            margin-bottom: 50px;
        }
        
        .enviar__button {
            width: 240px;
            border: 3px solid var(--letsblue-color);
            border-radius: 29px;
            color: var(--Noblanco-color);
            font-weight: bolder;
            margin: 20px 10px 0px 10px;
            padding: 10px 30px;
            background-color: var(--letsblue-color);
        }
        
        .enviar__button:hover {
            color: rgb(1, 13, 208);
            transition: all 0.5s;
            background-color: var(--Noblanco-color);
        }