/* *{
  border: 1px solid rgb(255, 0, 0);
} */

.fondo{
  background-image: url("../images/background-image.jpg"); /* ../ para subir una carpeta */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  background-position-y: 100px;
}

.navegacion {
  background-color: rgb(199, 199, 199);
  font-size: 20px;
  float: left;
  padding: 10px;
  margin: 20px;
}

nav a{
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
}

/* .logo{
  position:relative;
  align-items: center;
  margin-left:810px;
} */

.textcenter{
  text-align:center;
}

.parrafoHome01{
font-size: 60px;
font-family:Arial, Helvetica, sans-serif;
font-weight: bolder;
margin:5px;
}

.parrafoHome02{
  font-size:25px;
  font-family:Arial, Helvetica, sans-serif;
  margin:5px;
}

.parrafoHome03{
  font-size: 15px;
}

.parrafo01{
  font-size:24px;
  padding-bottom:1px;
  margin-bottom:1px;
  margin-top:100px;
}

.parrafo02{
  font-size:24px;
  padding-bottom:1px;
  margin-bottom:1px;
  margin-top:1px;
}

.parrafo03{
  font-size:20px;
  padding-bottom:30px;
}

h1{
  height:100px;
  font-size:50px;
  font-family: Arial, Helvetica, sans-serif;
  
}
h2{
  font-size:30px;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom:25px;
  margin-top:50px;
}

.button{
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right:40px;
    box-shadow: 3px 2px 3px black;
}

.mentor{
  border-radius:1000px;
  height: 300px;
  width: 300px;
}

.flex{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}


.inlineBlock{
display:inline-block;
position:relative;
}

.size5{
  height: 350px;
  width: 350px;
  margin: 50px;
}

.absolute{
  position:absolute;
}

.borderBottom{
  border-bottom:2px solid gray;
  width:750px;
  margin-top:10px;
}

.marginlr{
  margin-left:25px;
  margin-right:80px;
}

.margintb{
  margin-top:60px;
}

.bold{
  font-weight: bolder;
}


